body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
hr{
    border-top: 1px dotted #EAF6F6;
    width: 100px;
}

h1{
    margin: 50px auto 0 auto;
    font-size: 4rem;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 0.5;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #66BFBF;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.top-container{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
    
}
.skills{
    position: relative;
    padding-left: 60px;
}
.code{
    position: absolute;
    left: 40px;
    margin-right: 20px;
    width: 200px;
    height: 200px;
}
.skill-row{
    display: inline-block;
    width: 70%;
    height: 50%;
    font-style: italic;
    text-align: left;
}

.chilly{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 190px;
    right: 40px;
    margin-right: 20px;
}


/* .skills{
    text-align: center;
    width: 200px;
    height: 200px;
} */

.bottom-container{
    margin-top: 20px;
    padding: 50px;
    height: 250px;
    background-color: #66BFBF;
   
}

.pro{
    text-decoration: underline;
}

.top-cloud{
    width: 150px;
    height: 120px;
    position: absolute;
    top:40px;
    right: 270px;
}

.bottom-cloud{
    width: 150px;
    height: 120px;
    position: absolute;
    left: 300px;
}

.contact-me{

    margin: 50px;

}

.contact-me a{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border-radius: 10px ;
    padding: 10px;
    background-color: #448686;
    text-decoration: none;
    color: white;
}